.app__flex {
  display: flex;
  align-items: center;
}
.app__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}
.app__social-media {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
  svg {
    width: 40px;
    height: 30px;
  }
}
h2 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  color: #00000033;
  -webkit-text-fill-color: #00000033;
  font-size: clamp(3rem, 10vw, 3.5rem);
}
p {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}
